<div class="flex items-center justify-between px-4">
    <h5 class="text-lg font-light" style="color: var(--color-gris-oscuro)">
        Listado de
        <span class="font-bold" style="color: var(--color-primary)">{{
            titulo
            }}</span>
    </h5>
    <button-modal [tipoModal]="'nuevoRol'" [titleModal]="'Agregar Rol'" [contenido]="'Agregar Rol'" [conIcono]="true"
        [icono]="'add'" [color]="'#1c1917'">
    </button-modal>
</div>

<section class="relative py-3">
    <div class="w-full mb-12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-sm rounded bg-white text-black">
            <app-button-search></app-button-search>
            <div class="block w-full overflow-x-auto">
                <table class="items-center w-full bg-transparent border-collapse">
                    <thead>
                        <tr>
                            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left text-white border-gray-700"
                                style="background-color: var(--color-primary)">
                                Nombre
                            </th>
                            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blue-950 text-white border-gray-700"
                                style="background-color: var(--color-primary)">
                                Descripción
                            </th>
                            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blue-950 text-white border-gray-700"
                                style="background-color: var(--color-primary)">
                                Estado
                            </th>
                            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blue-950 text-white border-gray-700"
                                style="background-color: var(--color-primary)">
                                Acciones
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (rol of roles; track $index) {
                        <tr>
                            <th
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                                <img src="https://demos.creative-tim.com/notus-js/assets/img/bootstrap.jpg"
                                    class="h-12 w-12 bg-black rounded-full border" alt="..." />
                                <span class="ml-3 font-bold text-black">{{
                                    rol.str_rol_nombre
                                    }}</span>
                            </th>
                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                {{ rol.str_rol_descripcion }}
                            </td>
                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                <span
                                    [ngClass]="rol.str_rol_estado === 'ACTIVO'? 'bg-green-100 text-green-700 border border-green-500 rounded px-2 py-1 font-bold': 'bg-red-100 text-red-700 border border-red-500 rounded px-2 py-1 font-bold'">
                                    {{ rol.str_rol_estado }}
                                </span>
                            </td>

                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                <!-- Botón Editar -->
                                <button (click)="editarRol(rol)"
                                    class=" text-gray-600 bg-white rounded hover:bg-gray-100 hover:border hover:border-gray-300 hover:rounded-lg focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-400 transition duration-75 ease-in-out"
                                    >
                                    <i class="{{ classIcon }}">edit_square</i>
                                </button>

                                <!-- Botón Activar/Desactivar -->
                                <button (click)="toggleEstado(rol)"
                                    class="text-gray-600 bg-white rounded hover:bg-gray-100 hover:border hover:border-gray-300 hover:rounded-lg focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-400 transition duration-75 ease-in-out"
                                    >
                                    <i class="{{ classIcon }}">
                                        {{ rol.str_rol_estado === 'ACTIVO' ? 'toggle_on' : 'toggle_off' }}
                                    </i>
                                </button>


                            </td>

                        </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>