<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="max-w-lg mx-auto p-6 bg-white shadow-lg rounded-lg text-center">
    <h3 class="text-indigo-600 font-semibold text-2xl">404 Error</h3>
    <p class="text-gray-800 text-4xl font-semibold sm:text-5xl mt-4">
      Página no encontrada
    </p>
    <p class="text-gray-600 mt-4">
      Lo sentimos, la página que busca no se ha encontrado o ha sido eliminada.
    </p>
    <div class="flex flex-wrap items-center justify-center gap-3 mt-6">
      <a
        [routerLink]="['/dashboard']"
        class="block py-2 px-4 text-white font-medium bg-indigo-600 duration-150 hover:bg-indigo-500 active:bg-indigo-700 rounded-lg"
      >
        Volver
      </a>
      <a
        [routerLink]="['/dashboard']"
        class="block py-2 px-4 text-gray-700 hover:bg-gray-50 font-medium duration-150 active:bg-gray-100 border rounded-lg"
      >
        Contactar con soporte técnico
      </a>
    </div>
  </div>
</div>
