<!-- //pruebas de componentes -->
<app-inspeccion-condiciones-seguridad></app-inspeccion-condiciones-seguridad>
<main class="main" *ngIf="!isClicked">
  <div class="responsive-wrapper">
    <div class="main-header">
      <h1>Dashboard</h1>
    </div>
    <div class="content-header">
      <div class="content-header-intro">
        <h2>Intergrations and connected apps</h2>
        <p>Supercharge your workflow and connect the tool you use every day.</p>
      </div>
    </div>
    <div class="content">
      <div class="content-main">
        <div class="card-grid-header" *ngIf="!loading && !request">
          <div *ngFor="let empresa of empresas; let i = index">
            <a
              (click)="resultadoAuditoria(empresa)"
              [routerLink]="[
                '/' + baseUrl + '/dashboard/resumen-ejecutivo',
                empresa.str_empresa_nombre
              ]"
            >
              <article class="card-h">
                <div class="card-header-h">
                  <div>
                    <span
                      ><img
                        src="https://assets.codepen.io/285131/zeplin.svg"
                        alt="Zeplin logo"
                    /></span>
                    <h3>{{ empresa.str_empresa_nombre }}</h3>
                  </div>
                  <label class="toggle">
                    <input type="checkbox" checked />
                    <span></span>
                  </label>
                </div>
                <div class="card-body">
                  <p>{{ empresa.str_empresa_direccion }}</p>
                </div>
                <div class="card-footer">
                  <a href="#">View integration</a>
                </div>
              </article>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-sin-datos
    [loading]="loading && request"
    [mensaje]="'Aun no se agrega ninguna empresa'"
  ></app-sin-datos>
</main>


<router-outlet *ngIf="isClicked"></router-outlet>
