<div *ngIf="loading" class="px-6 py-4 animate-pulse">
  <div class="mb-4">
    <span class="block text-gray-700 text-sm font-bold mb-2"
      >Correo electrónico</span
    >
    <div class="h-4 bg-gray-300 rounded w-3/4"></div>
  </div>
  <div class="mb-4">
    <span class="block text-gray-700 text-sm font-bold mb-2">Nombre</span>
    <div class="h-4 bg-gray-300 rounded w-1/2"></div>
  </div>
  <div class="mb-4">
    <span class="block text-gray-700 text-sm font-bold mb-2">Teléfono</span>
    <div class="h-4 bg-gray-300 rounded w-1/3"></div>
  </div>
  <div class="mb-4">
    <span class="block text-gray-700 text-sm font-bold mb-2">Contraseña</span>
    <div class="h-4 bg-gray-300 rounded w-1/4"></div>
  </div>
</div>
