<div class="p-4 bg-gray-100 rounded-lg">
    <form [formGroup]="rolForm" (ngSubmit)="editarRol()">
  
    
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Nombre</label>
        <input type="text" formControlName="str_rol_nombre" class="mt-1 p-2 w-full border rounded"
          placeholder="Nombre del rol" />
      </div>
    
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Descripción</label>
        <input type="text" formControlName="str_rol_descripcion" class="mt-1 p-2 w-full border rounded"
          placeholder="Ingresa la Descripción" />
      </div>
  
     
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Estado</label>
        <input type="email" formControlName="str_rol_estado" class="mt-1 p-2 w-full border rounded"
          placeholder="" />
      </div>
  

  

      <div class="flex justify-end gap-2">
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded" [disabled]="rolForm.invalid">
          Editar
        </button>
      </div>
    </form>
  </div>

